{% extends "base.html" %}
    {% block content %}
    <div class="container-fluid" style="padding-top: 50px">
        <h3 class="text-center">About State Finder</h3>
        <div class="border">&nbsp;</div>
        <p></p>
        <p>The State Finder web application was created in Fall of 2022 as a Senior Capstone project by Alyiah Proctor, Anne Nguyen, Darlyn Mendez, 
            and Emily Crabtree. The goal of the web application is to be a tool to aid people undergoing a career transition, job search, and/or 
            location change, and to make those processes less stressful. The State Finder web application collects user data based on their occupation, 
            job level, and number of working adults and children in the household and compares it with the minimum livable wages of the major Metropolitan 
            areas in the United States of America, as provided by <a href="https://livingwage.mit.edu/" style="text-decoration:underline">MIT</a>. A red-green choropleth map is produced to
            visually illustrate which Metropolitan areas the user meets the minimum livable wage. </p>
    </div>
    {% endblock %}
</body>
</html>