{% extends "base.html" %}
    {% block content %}
  <!-- Jumbotron with site title and description -->
  <div class="jumbotron text-center">
  <h1>STATE FINDER</h1> 
  <p>Discover where your future may lead you</p> 
</div>

<!-- Collect occupation and household data -->
<form  method="post">
<div id="data" class="container-fluid" style="padding-bottom: 75px">
  <h1 class="text-center">Enter household information</h1>
  <div class="border">&nbsp;</div>
  <br>  
<div id="selectOcc" class="text-center">
    <p class="text-center">Select your occupation:
        <select id="occSelect" name="occSelect" method="GET">
            <option disabled selected>Select</option>
            {% for oc in occupations %}
            <option value="{{oc}}">{{oc}}</option>"
            {% endfor %}
        </select>
    </p>
</div>

<p></p>

<div id="selectLevel" class="text-center">
  <p class="text-center">Select your job level:
  <select id="levelSelect" name="levelSelect">
    <option  disabled selected>Select</option>
    <option>Entry level</option>
    <option>Intermediate level</option>
    <option>Senior level</option>
  </select>
  </p>
</div>

<p></p>

<div id="selectAdult" class="text-center">
  <p class="text-center">Select the number of working adults in the household:
  <select id="adultSelect" name="adultSelect">
    <option  disabled selected>Select</option>
    <option>1 adult</option>
    <option>2 adults, 1 working</option>
    <option>2 adults, both working</option>
  </select>
  </p>
</div>

<p></p>

<div id="selectKid" class="text-center">
  <p class="text-center">Select the number of children living in the household:
  <select id="kidSelect" name="kidSelect">
    <option  disabled selected>Select</option>
    <option>0 children</option>
    <option>1 child</option>
    <option>2 children</option>
    <option>3+ children</option>
  </select>
  </p>

  <button type="submit" formaction="/test">Submit</button>
</div>
</div>
</form>

{% endblock %}