<head>
    <title>Livable Areas Map</title>
</head>
{% extends "base.html" %}
    {% block content %}
    {% if fig is string %}
    <div class="container-fluid" style="padding-top: 60px"></div>
        <p> Unfortunately we do not have sufficient data for your selected position and experience level. Please try a different experience level or ocupation. We appologize for the inconvienience. </p>
    </div>
        {% else %}
        <div class="container-fluid" style="padding-top: 80px">
        {{ fig.to_html() | safe}}
        <p></p>
        <form method="post">
            <input type="submit" style="margin-top: 6px" formaction ='/us_map' value="Go to Infographics">
        </form>
        <p></p>
        {{ table.to_html() | safe}}
        </div>
    {% endif %}
    {% endblock %}