{% extends "base.html" %}
<!DOCTYPE html>
<head></head>
<body>
    {% block content %}
    <div class="container-fluid" style="padding-top: 40px">
    {% if fig is string %}
        <p> Unfortunately we do not have sufficient data for your selected position and experience level. Please try a different experience level or ocupation. We appologize for the inconvienience. </p>
     {% else %}
        {{ fig.to_html() | safe}}
        <form method="post">
            <input type="submit" formaction ='/us_map' value="Go to Infographics">
        </form>
        {{ table.to_html() | safe}}
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>
